*~
*.swp
*.swo
cscope.*
GeekOS/.svn
GeekOS/build/libc/errno.c
GeekOS/build/geekos/kernel.syms
GeekOS/build/geekos/hdbootsect
GeekOS/build/*.img
GeekOS/build/qemu
GeekOS/build/out.txt
GeekOS/build/tools/gfs2f
GeekOS/build/pagefile.bin
GeekOS/build/geekos/net/*.bin
GeekOS/build/geekos/sound/*.bin
GeekOS/build/geekos/*.bin
GeekOS/build/common/*.bin
GeekOS/build/libc/*.bin
GeekOS/build/user/*.bin
GeekOS/build/tools/*.bin
GeekOS/build/geekos/net/*.exe
GeekOS/build/geekos/sound/*.exe
GeekOS/build/geekos/*.exe
GeekOS/build/common/*.exe
GeekOS/build/libc/*.exe
GeekOS/build/user/*.exe
GeekOS/build/tools/*.exe
GeekOS/build/geekos/net/*.o
GeekOS/build/geekos/sound/*.o
GeekOS/build/geekos/*.o
GeekOS/build/common/*.o
GeekOS/build/libc/*.o
GeekOS/build/user/*.o
GeekOS/build/tools/*.o
GeekOS/build/geekos/net/*.s
GeekOS/build/geekos/sound/*.s
GeekOS/build/geekos/*.s
GeekOS/build/common/*.s
GeekOS/build/libc/*.s
GeekOS/build/user/*.s
GeekOS/build/tools/*.s
GeekOS/build/geekos/net/*.a
GeekOS/build/geekos/sound/*.a
GeekOS/build/geekos/*.a
GeekOS/build/common/*.a
GeekOS/build/libc/*.a
GeekOS/build/user/*.a
GeekOS/build/tools/*.a
